body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.grade-container {
    text-align: center;
    
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#result {
    font-size: 20px;
    margin-top: 10px;
}
